<div class="w-100 mw7 center tc pa4 mv3">
  <%= button_to "Fully Logout of Heroku", "https://id.heroku.com/logout", class: "hk-button--primary bg-gradient-blue mv3", method: "get", form_class: "w-100" %>
</div>
